# Results
results/
notebooks/

# Logs wandb
wandb/
logs/
tune_logs/
tuning/

# Environment
env/

datasets/*.json

# torch files
*.pth 

# Jupyter Notebook
.ipynb_checkpoints

# Python
*__pycache__/

# Mac
.DS_Store
._.DS_Store